body {
    background-color: #c3c3c3
  }
  header {
    text-align: center;
    padding-top: 10px
  }
  h2 {
    text-align: center;
  }
  .bold {
    font-weight: bold;
  }
  .friend-tribute {
    font-style: italic;
    padding-bottom: 20px;
    margin-left: 450px;
    margin-right: 450px;
  }
  #tribute-info {
    text-align: center;
  }
  #img-div {
    width: 100%;
    margin: 0 auto;
  }
  
  #image {
    width: 400px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 5vw auto 0 auto;        
  }
  p {
    font-size: 18px;
    font-family: Quattrocento Sans;
    text-align: center;
  }

  ul {
    list-style-position: inside;
    font-family: Quattrocento Sans;
  }
  li {
    padding-bottom: 20px;
    margin-left: 450px;
    margin-right: 450px;
  }
.nav {
  a {
    color: white;
    text-decoration: none;
    padding: 1rem;
  }
  a:hover {
    text-decoration: underline;
  }
  background-color: black;
  text-align: left;
  padding: 5px;
}
.about {
  text-align: center;
  margin: auto;
}
#tribute-link {
  text-decoration: burlywood;
  background-color: #777777;
}